<h1>Admin regiszrálás</h1>

<form class="register" [formGroup]="form" (ngSubmit)="regiter()">

<input type="text" placeholder="Név" formControlName="name">
<input type="email" placeholder="Email" formControlName="email">
<input type="password" placeholder="Jelszó" formControlName="password">
<input type="password" placeholder="Jelszó megerősítés" formControlName="confirm_password">

<div class="button mb-3 text center">
    <button id="button" class="btn btn-info" type="submit">Regiszrálás</button>
</div>

</form>